server.pem
*.o
*.tar
api/libapi.a
apps/nofrendo/epsilon/rom.c
apps/KhiCAS/src/include/*.h
apps/KhiCAS/libgiac_simulator.a
apps/KhiCAS/src/gmp*/**/Makefile
apps/KhiCAS/src/mpfr*/configure
apps/KhiCAS/src/mpfr*/**/Makefile
apps/KhiCAS/src/mpfr*/**/Makefile.in
apps/KhiCAS/src/mpfi*/**/Makefile.in
apps/KhiCAS/src/mpfi*/configure
apps/KhiCAS/src/mpfi*/mpfr_config.h.in
apps/KhiCAS/src/mpfi*/mpfr_config.h.in~
apps/KhiCAS/src/mpfr*/configure~
apps/KhiCAS/src/mpfi*/**/Makefile
apps/KhiCAS/src/mpfi*/mpfi_config.h.in
apps/KhiCAS/src/mpfi*/mpfi_config.h
apps/KhiCAS/src/mpfi*/stamp-h1
apps/KhiCAS/src/gmp*/demos/pexpr-config.h
apps/KhiCAS/src/gmp*/mpn/*.c
apps/KhiCAS/src/gmp*/config.h
apps/KhiCAS/src/gmp*/config.m4
apps/KhiCAS/src/gmp*/fac_table.h
apps/KhiCAS/src/gmp*/fib_table.h
apps/KhiCAS/src/gmp*/gen-*
!apps/KhiCAS/src/gmp*/gen-*.c
apps/KhiCAS/src/gmp*/gmp-mparam.h
apps/KhiCAS/src/gmp*/gmp.h
apps/KhiCAS/src/gmp*/mp_bases.h
apps/KhiCAS/src/gmp*/stamp-h1
apps/KhiCAS/src/gmp*/trialdivtab.h
*.tmp
*.log
*.P
*.Po
*.Plo
*.a
*.lo
*.la
*.lai
**/autom4te.cache/
**/config.status
*.pc
**/libtool
**/aclocal.m4
